@use 'sass:color';

// COLORS
$black: #1E1E1E;
$error: #B7292E;
$gray-100: #F5F5F5;
$gray-300: #C4C4C4;
$gray-700: #4E4E4E;
$warning: #F07B07;
$white: #FFFFFF;

// Default lightness deltas
$lightness-300: 25%;
$lightness-700: 25%;

// Brand colors
$primary-500: #044cb8;
$secondary-500: darken(#044cb8, 20%);

// Entities colors
$opportunities-500: #ff0000;
$events-500: #77c14e;
$spaces-500: darken(#77c14e, 15%);
$agents-500: #77c14e;
$projects-500: #77c14e;

$seals-500: #1E1E1E;

// Feedback colors
$danger-500: #B7292E;
$success-500: #498200;
$warning-500: #FF9F1C;
$helper-500: #0074C1;

// home
$home-opportunities: #044cb8;
$home-feature: #77c14e;
$home-register: #044cb8;

// // Neutral colors
$low-500: #00318C;
// $high-500: #FFFFFF;

// // FONTS
// $font-body: 'Open Sans', sans-serif;
// $font-headings: 'Open Sans', sans-serif;

// // Borders radius
// $border-radius-xs: 4px;
// $border-radius-sm: 8px;
// $border-radius-pill: 64px;

// // Borders
// $border-hairline: 1px solid;
// $border-solid: 2px solid;

// // Shadows
// $shadow-lv-1: 0px 4px 8px rgba(0, 0, 0, 0.16);
// $shadow-lv-2: 0px 8px 16px rgba(0, 0, 0, 0.16);
// $shadow-lv-3: 0px 8px 24px rgba(0, 0, 0, 0.16);
// $shadow-lv-4: 0px 16px 48px rgba(0, 0, 0, 0.16);
// $shadow-lv-1-up: 0px -4px 8px rgba(0, 0, 0, 0.16);

@import '../../../BaseV2/assets-src/sass/theme-BaseV2';

.mc-header-logo {
    max-width: 9rem;
}
.main-footer__reg {
  display: none;
}
.topo-togov-wrapper {
  display: none;
}

/** 
Ocultando o ID e se a oportunidade esta aberta, na página de Oportunidades
*/

.user-slot {
  display: none;
}

/** 
Ocultando os ícones de compartilhar da tela da oportunidade
*/

.mc-share-links {
  display: none;
}

/** 
Ocultando o ID e tipo, na página de Oportunidades
*/

.metadata > dl {
  display: none !important;
}

/** 
Ocultando o título Publicado por na tela da oportunidade
*/

.entity-owner {
  display: none;
}

/** 
Ocultando os botões de Denúncia e Contato
*/

.complaint-suggestion {
  display: none;
}

/** 
Ocultando a parte de selos na tela da oportunidade
*/

.entity-seals {
  display: none;
}

/** 
Ocultando a parte de área de interesse
*/

.flex-container > .entity-terms {
  display: none;
}

/** 
Ocultando termos dos cards de Oportunidades
*/

.base-v2.controller-site.action-index.layout-default .home-header__main,
.base-v2.controller-site.action-index.layout-default .entity-card__content--terms,
.base-v2.controller-site.action-index.layout-default .entity-card__header.user-details .user-info.with-labels span {
  display: none;
}

.base-v2.controller-site.action-index.layout-default .search__header,
.base-v2.controller-site.action-index.layout-default .tabs-component__header,
.base-v2.controller-site.action-index.layout-default .search-list__order {
  display: none;
}

/** 
Melhorando a exibição da imagem em destaque da home
*/
.home-header__content {
  background: none;
}
  
.home-header__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  z-index: 2;
}
.home-header__background .img {
  min-width: auto;
}
.home-header__content {
  min-width: auto;
}

@media (max-width: 31.25rem) {
.home-header__content {
  min-height: 8rem;
}
  .home-header__background {
    height: auto;
  }

  .home-header__background .img > img {
    width: 100%;
    height: auto;
  }
}